@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
  margin: 0 !important;
  scroll-behavior: smooth;
}

:root {
  --black: #2a2825;
  --grey: #3c3c3c;
  --orange: #ff9933;
  --white: #fff;
  --white2: #fff;
  --font-1: "Lato";
  --size-1: 2.8rem;
  --size-2: 2rem;
  --size-3: 1.2rem;
  --shadow: rgb(20 21 26/10%) 0px 0px 1px, rgb(71 77 87/8%) 0px 7px 14px,
    #ff9933 0px 3px 6px;
  --shadow2: rgb(20 21 26/10%) 0px 0px 1px, rgb(71 77 87/8%) 0px 7px 14px,
    rgb(71 77 87/8%) 0px 3px 6px;
}

/* Layout CSS */

.container {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* Navbar CSS */

.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding-top: 20px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-container ul {
  display: flex;
  list-style: none;
  font-family: var(--font-1);
  color: var(--grey);
  font-size: 16px;
}

.navbar-container ul li {
  margin-left: 24px;
}

.navbar-container ul li:hover {
  cursor: pointer;
  color: var(--orange);
  transition: all 0.3s;
}

.navbar-container ul li:hover:before {
  content: "";
  position: absolute;
  top: 65px;
  background: var(--orange);
  width: 10px;
  height: 5px;
  border-radius: 100%;
}

.logo {
  width: 170px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.logo:hover {
  cursor: pointer;
}

/* Footer CSS */

.footer p {
  color: var(--grey);
  font-family: var(--font-1);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-tab2 span a {
  color: inherit;
}

.footer-tab2 span a:hover {
  color: var(--orange);
}

.social-icons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  text-align: center;
}

.social-items a {
  color: #8a8a8a;
  font-size: 19px;
}

.social-icons a:hover {
  color: var(--orange);
}

.copy:hover {
  color: var(--orange);
}

/* Home CSS */

.jumbotron-wrapper {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background: var(--white);
  background-size: cover;
}

.jumbotron {
  display: grid;
  grid-template-columns: 60% 40%;
}

.jumbotron h1 {
  font-family: var(--font-1);
  text-align: left;
  width: 80%;
  font-size: var(--size-1);
  color: var(--black);
  margin-top: 3rem;
}

.jumbotron p {
  text-align: left;
  width: 90%;
  line-height: 40px;
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  margin-top: 3rem;
}

.section-1 {
  font-family: var(--font-1);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
  grid-column-gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section-1 h2 {
  font-size: var(--size-2);
  font-family: var(--font-1);
  color: var(--black);
}

.section-wrapper {
  background: var(--white2);
  height: 500px;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.section-wrapper-white {
  background: var(--white);
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 p {
  text-align: left;
  width: 90%;
  line-height: 40px;
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  margin-top: 3rem;
}

.section-two-logos {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  align-items: flex-end;
  margin-bottom: 5rem;
  margin-top: 5rem;
  grid-column-gap: 2rem;
}

.section-two img {
  box-shadow: var(--shadow);
  border-radius: 50%;
  padding: 1rem;
}

.section-two h2 {
  font-size: var(--size-2);
  font-family: var(--font-1);
  color: var(--black);
  margin-bottom: 5rem;
  text-align: center;
}

.newsletter {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 3px;
  display: grid;
  place-items: center;
}

.newsletter h2 {
  font-size: var(--size-2);
  font-family: var(--font-1);
  color: var(--black);
}

.newsletter p {
  line-height: 40px;
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  margin-top: 1rem;
}

.newsletter div {
  position: relative;
  width: 100%;
  max-width: 45vw;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.newsletter input {
  padding: 1rem;
  width: 100%;
  max-height: 55px;
  outline-color: var(--orange);
  font-family: var(--font-1);
  font-size: 1rem;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
}

.newsletter button {
  position: absolute;
  max-height: 55px;
  width: 200px;
  top: 0;
  right: 0px;
  padding: 1rem 2rem;
  background: var(--orange);
  outline: var(--orange);
  border: none;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--font-1);
  border-radius: 0px 8px 8px 0px;
  font-weight: bold;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.newsletter button:hover {
  cursor: pointer;
}

.success-message {
  color: var(--orange) !important;
  font-style: var(--font-1);
  font-size: 13px;
}

/* Products Page */

.products-wrapper {
  min-height: 90vh;
}

.products-wrapper h1 {
  font-family: var(--font-1);
  font-size: var(--size-2);
  text-align: center;
  margin-top: 3rem;
}

.products-wrapper p {
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  text-align: center;
  margin-top: 2rem;
}

.product-card {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-column-start: 2rem;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
}

.product__img--container {
  background: #fef5fc;
  opacity: 1;
  display: grid;
  place-items: center;
  border-radius: 7px 0px 0px 7px;
}

.product__img--container img {
  width: 70%;
  font-family: var(--font-1);
}

.product-desc {
  padding: 2rem;
  width: 100%;
}

.product-card p {
  text-align: left;
  color: var(--grey);
  font-size: 1.1rem;
  line-height: 30px;
}

.product-card button {
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--font1);
  padding: 0.8rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.product-card button:hover {
  cursor: pointer;
}

/* contact us page */
.contact-form-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-start: 2rem;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
}

.contact-form {
  padding: 2rem;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  outline-color: var(--orange);
  font-family: var(--font-1);
  font-size: 1.1rem;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b2b2b2;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b2b2b2;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b2b2b2;
}

textarea:-ms-input-placeholder {
  color: #b2b2b2;
}

textarea::-webkit-input-placeholder {
  color: #b2b2b2;
}

textarea:-moz-placeholder {
  color: #b2b2b2;
}

textarea::-moz-placeholder {
  color: #b2b2b2;
}

.name {
  display: flex;
}

.name div:not(:first-child) {
  margin-left: 20px;
}

.form-heading {
  font-family: var(--font-1);
  font-size: var(--size-3);
}

.form,
.form-group {
  margin-bottom: 1.2rem;
}

.mg-buttom {
  margin-bottom: 4rem;
}

.mg-top {
  margin-top: 3rem;
}

.form-group input[type="submit"] {
  width: 100%;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--font1);
  padding: 0.8rem 2rem;
  border-radius: 8px;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.contact-details {
  background: transparent linear-gradient(180deg, #ff9933 0%, #ff3333 100%) 0%
    0% no-repeat padding-box;
  border-radius: 0px 7px 7px 0px;
}

.map-container {
  padding: 1rem;
  text-align: right;
  max-height: 200px;
}

.map-container img {
  max-width: 100%;
  height: auto;
  top: 0;
  right: 0px;
  padding: 1rem;
}

.contact-info {
  padding: 0 2rem;
  margin-top: 1rem;
}

.contact-info h3 {
  color: #fff;
  font-family: var(--font-1);
  font-size: var(--size-3);
  margin-bottom: 20px;
}

.contact-img-icon {
  display: flex;
  margin-bottom: 10px;
}

.contact-img-icon h4 {
  color: #fff;
  font-size: 15px;
  font-family: var(--font-1);
  margin-left: 20px;
}

.contact-img-icon img {
  width: 16px;
  height: 22px;
  padding-top: 3px;
}

/* disclaimer page */
.products-wrapper .left-text {
  text-align: left;
  font-size: 17px;
}

.disclaimer-list li {
  margin-bottom: 20px;
  font-size: 17px;
  font-family: var(--font-1);
  padding-left: 1rem;
}

/* privacy page */
.products-wrapper .head-text {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--font-1);
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

.privacy-item li {
  font-size: 17px;
  font-family: var(--font-1);
  padding-left: 1rem;
}

.privacy-item li:not(:last-child) {
  margin-bottom: 20px;
}

.circle-list {
  list-style-type: disc;
}

.circle-list li {
  margin-bottom: 10px !important;
  padding-left: 0.5rem;
}

.sub-list li {
  margin-top: 20px;
}

.sub-list li span {
  margin-right: 10px;
}

.text-red {
  color: #ff3333;
}

/* mobile navigation */
.menu-button-container {
  display: none;
}

.mobile-nav {
  display: none;
}

.menu-button {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 7px;
}

.menu-button:hover,
.menu-button:focus {
  background-color: transparent;
}

.menu-button:focus {
  color: #101010;
}

.close--btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

/* loader */
.loader {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* about page */

.about-sec {
  display: flex;
  margin-top: 48px;
  margin-bottom: 48px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.main-content {
  flex: 1;
  margin-bottom: 5rem;
}

.about {
  margin-bottom: 40px;
}

.about-heading {
  font-family: var(--font-1);
  font-size: 32px;
}

.about-desc {
  font-family: var(--font-1);
  font-size: 16px;
  max-width: 500px;
}

.main-img {
  flex: 1;
  margin-bottom: 5rem;
}

.main-img-container {
  width: 95%;
  padding-top: 20px;
}

.main-img-container img {
  width: 100%;
}

.about-sec2 {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  margin-top: 64px;
  gap: 60px;
}

.transform {
  flex: 1;
}

.transform img {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}

.moveon {
  flex: 1;
}

.moveon img {
  margin-bottom: 20px;
  width: 200px;
  height: 180px;
}

.team {
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 48px;
  padding-bottom: 48px;
}

.team-desc {
  font-family: var(--font-1);
  font-size: 18px;
}

/* slider */

.slider-box {
  display: grid;
  place-content: center;
  margin-top: 48px;
}

.slider {
  max-width: 1100px;
  text-align: center;
  padding: 0 60px;
}

.slider-items {
  max-width: 225px;
}

.slider-items h3 {
  margin-top: 20px;
  font-size: 22px;
  font-family: var(--font-1);
  color: var(--black);
}

.slider-items p {
  font-size: 16px;
  font-family: var(--font-1);
  color: var(--grey);
}

.slider-items img {
  width: 100%;
  height: auto;
}

.join {
  margin-top: 64px;
  margin-bottom: 48px;
  padding: 3rem;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  display: grid;
  place-items: center;
}

.join h1 {
  font-family: var(--font-1);
  font-size: 32px;
}
.join p {
  margin-bottom: 48px;
  font-family: var(--font-1);
  font-size: 20px;
}

.join-btn {
  background: var(--orange);
  border-radius: 8px;
  font-family: var(--font-1);
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 1rem 3rem;
  cursor: pointer;
  width: 200px;
}

/* Media Queries */

@media only screen and (max-width: 1055px) {
  .section-two {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 940px) {
  .jumbotron-wrapper {
    height: auto;
  }
  .jumbotron {
    display: block;
    text-align: center;
  }
  .jumbotron h1 {
    width: 100%;
  }

  .jumbotron p {
    width: 100%;
  }

  .section-1 p {
    width: 100%;
  }

  .section-two-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

  .section-wrapper {
    height: auto;
  }

  .section-wrapper-white {
    padding: 5px;
  }

  .section-1 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .section-1 div {
    margin-top: 30px;
  }

  .section-1 svg {
    margin-top: 1rem;
  }

  .newsletter div {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 960px) {
  .footer {
    display: block;
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }
  .social-items:not(:first-child) {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 863px) {
  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
  }

  .name {
    display: block;
  }

  .name div:not(:first-child) {
    margin-left: 0px;
  }

  .form-group2 {
    margin-bottom: 1.2rem;
  }

  .contact-details {
    border-radius: 0px 0px 7px 7px;
  }
}

@media only screen and (max-width: 768px) {
  .product-card {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 699px) {
  .newsletter div {
    position: unset;
  }
  .newsletter button {
    position: unset;
    margin-top: 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 915px) {
  .navbar-container ul {
    display: none;
  }

  .menu-button-container {
    display: block;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-navbar-items {
    list-style: none;
    font-size: 18px;
    font-family: var(--font-1);
    color: var(--grey);
    margin-bottom: 24px;
  }

  .mobile-navbar-items:hover {
    cursor: pointer;
    color: var(--orange);
  }
}

@media only screen and (max-width: 900px) {
  .product-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product__img--container {
    height: 40vh;
  }

  .product-card h2 {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1700px) {
  .container {
    margin-left: 18vw;
    margin-right: 18vw;
  }
}

@media only screen and (min-width: 2000px) {
  .container {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media only screen and (min-width: 2500px) {
  .container {
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
