@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html,
body {
  font-family: "Lato", Playfair Display, sans-serif;
  margin: 0 !important;
  /* margin-top: -0.2rem !important; */
}

:root {
  --black: #2a2825;
  --grey: #3c3c3c;
  --orange: #ff9933;
  --white: #fff;
  --white2: #fff;
  --font-1: "Lato";
  --font-2: "Playfair Display";
  --size-1: 2.8rem;
  --size-2: 2rem;
  --size-3: 1.2rem;
  --shadow: rgb(20 21 26/10%) 0px 0px 1px, rgb(71 77 87/8%) 0px 7px 14px,
    #ff9933 0px 3px 6px;
  --shadow2: rgb(20 21 26/10%) 0px 0px 1px, rgb(71 77 87/8%) 0px 7px 14px,
    rgb(71 77 87/8%) 0px 3px 6px;
}

/* Layout CSS */

.container {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* Navbar CSS */

.navbar-container {
  height: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: var(--white);
  padding-top: 20px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-container h1 {
  font-family: var(--font-2) !important;
  font-size: var(--size-2);
}

.navbar-container ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  font-family: var(--font-1);
  color: var(--grey);
  font-size: 16px;
}

.navbar-container ul li:hover {
  cursor: pointer;
  color: var(--orange);
  transition: all 0.3s;
}

.navbar-container ul li:hover:before {
  content: "";
  position: absolute;
  top: 65px;
  background: var(--orange);
  width: 10px;
  height: 5px;
  border-radius: 100%;
}

/* .navbar-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
} */

.logo {
  width: 170px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.logo:hover {
  cursor: pointer;
}

/* Footer CSS */

.footer p {
  color: var(--grey);
  font-family: var(--font-1);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Home CSS */

.jumbotron-wrapper {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background: var(--white);
  background-size: cover;
}

.jumbotron {
  display: grid;
  grid-template-columns: 60% 40%;
}

.jumbotron h1 {
  font-family: var(--font-2);
  text-align: left;
  width: 80%;
  font-size: var(--size-1);
  color: var(--black);
  margin-top: 3rem;
}

.jumbotron p {
  text-align: left;
  width: 90%;
  line-height: 40px;
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  margin-top: 3rem;
}

.section-1 {
  font-family: var(--font-1);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
  grid-column-gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section-1 h2 {
  font-size: var(--size-2);
  font-family: var(--font-2);
  color: var(--black);
}

.section-wrapper {
  background: var(--white2);
  height: 500px;
  padding-top: 2rem;
}

.section-wrapper-white {
  background: var(--white);
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 p {
  text-align: left;
  width: 90%;
  line-height: 40px;
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  margin-top: 3rem;
}

.section-two-logos {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  align-items: flex-end;
  margin-bottom: 5rem;
  margin-top: 5rem;
  grid-column-gap: 2rem;
}

.section-two img {
  box-shadow: var(--shadow);
  border-radius: 50%;
  padding: 1rem;
}

.section-two h2 {
  font-size: var(--size-2);
  font-family: var(--font-2);
  color: var(--black);
  margin-bottom: 5rem;
  text-align: center;
}

.newsletter {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 3px;
}

.newsletter h2 {
  font-size: var(--size-2);
  font-family: var(--font-2);
  color: var(--black);
  text-align: center;
}

.newsletter p {
  text-align: center;
  line-height: 40px;
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  margin-top: 1rem;
}

.newsletter div {
  width: 50%;
  margin-left: 25%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.newsletter input {
  padding: 1rem;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline-color: var(--orange);
  font-family: var(--font-1);
  font-size: 1rem;
}

.newsletter button {
  padding: 1rem 2rem;
  margin-left: 1rem;
  background: var(--white);
  border: 2px solid #ff9933;
  color: var(--orange);
  text-transform: capitalize;
  font-family: var(--font-1);
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
}

.newsletter button:hover {
  cursor: pointer;
}

/* Products Page */

.products-wrapper {
  min-height: 90vh;
}

.products-wrapper h1 {
  font-family: var(--font-2);
  font-size: var(--size-2);
  text-align: center;
  margin-top: 3rem;
}

.products-wrapper p {
  font-family: var(--font-1);
  font-size: var(--size-3);
  color: var(--grey);
  text-align: center;
  margin-top: 2rem;
}

.product-card {
  padding: 2rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-start: 2rem;
  box-shadow: var(--shadow2);
}

.product-card p {
  text-align: left;
  color: var(--grey);
  font-size: 1.1rem;
  line-height: 30px;
}

.product-card button {
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--font1);
  padding: 0.8rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.product-card button:hover {
  cursor: pointer;
}

.product-card img {
  max-width: 90%;
  border-radius: 30px;
  box-shadow: var(--shadow2);
}

/* mobile navigation */
.menu-button-container {
  display: none;
}

.mobile-nav {
  display: none;
}

.menu-button {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 7px;
}

.menu-button:hover,
.menu-button:focus {
  background-color: transparent;
}

.menu-button:focus {
  color: #101010;
}

.close--btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 1055px) {
  .section-two {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 940px) {
  .jumbotron-wrapper {
    height: auto;
  }
  .jumbotron {
    display: block;
    text-align: center;
  }
  .jumbotron h1 {
    width: 100%;
  }

  .jumbotron p {
    width: 100%;
  }

  .section-1 p {
    width: 100%;
  }

  .section-two-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

  .section-wrapper {
    height: auto;
  }

  .section-wrapper-white {
    padding: 5px;
  }

  .section-1 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .section-1 div {
    margin-top: 30px;
  }

  .section-1 svg {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .product-card {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 1137px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .newsletter div {
    width: 100%;
    margin-left: 0;
    display: grid;
    place-items: center;
  }

  .newsletter input {
    width: 100%;
  }

  .newsletter button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-container ul li {
    margin-left: 24px;
  }

  .navbar-container ul {
    display: flex;
  }
}

@media only screen and (max-width: 683px) {
  .navbar-container ul {
    display: none;
  }

  .menu-button-container {
    display: block;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-navbar-items {
    list-style: none;
    font-size: 18px;
    font-family: var(--font-1);
    color: var(--grey);
    margin-bottom: 24px;
  }

  .mobile-navbar-items:hover {
    cursor: pointer;
    color: var(--orange);
  }
}

@media only screen and (max-width: 900px) {
  .product-card {
    display: block;
    text-align: center;
  }

  .product-card h2 {
    margin-top: 40px;
  }
}

/* @media only screen and (max-width: 600px) {
  .container {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 90vw;
  }
  .jumbotron-wrapper {
    display: inline-block;
    height: 650px;
  }
  .jumbotron {
    grid-template-columns: 100%;
  }
  .jumbotron h1 {
    width: 100%;
  }
  .jumbotron p {
    width: 100%;
  }
  .section-1 {
    display: flex;
    flex-direction: column-reverse;
    height: 800px;
  }
  .section-wrapper-white {
    display: block;
    margin-top: 20rem;
  }
  .section-two-logos {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-row-gap: 2rem;
    grid-column-gap: 0;
  }
} */

@media only screen and (min-width: 1700px) {
  .container {
    margin-left: 18vw;
    margin-right: 18vw;
  }
}

@media only screen and (min-width: 2000px) {
  .container {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media only screen and (min-width: 2500px) {
  .container {
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
